* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 10px; 
}

.title {
    font-size: 29px;
    color: white;
    font-weight: 200;
}

.enter-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 21px;
    border: none;
    background: #4467ca;
    color: white;
}

.enter-button a {
    color: white;
    text-decoration: none;
}

.image-container {
    width: 100%;
    height: 100vh; 
    position: relative;
    overflow: hidden;
}

.main-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
}

.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.description {
    padding: 95px 20px;
    text-align: center;
    background-color: white;
}

.description h2 {
    font-size: 26px;
    margin-bottom: 10px;
}

.description p {
    font-size: 23px;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
}

.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    background-color: white; 
}

.feature {
    text-align: center;
    max-width: 300px;
}

.feature img {
    width: 113px;
    height: 114px;
    margin-bottom: 20px;
}

.feature h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.feature p {
    font-size: 17px;
    color: #555;
}

.titulo h1{
    text-align: center;
}